<div class="container header1">
  <img src ="app/img/Logo.png" width="100%">
  <center><h4 style="color: white;">31st March 1st 2nd April 2016</h4></center>
  <hr>
</div>
<center><h4 style="color:white">Event Space</h4></center>
<div id="demo">
     <div class="container">
       <div class="row">
         <div class="span12">
           <div id="owl-demo" class="owl-carousel">
           <!--branch 1 start-->
             <div class="item">
                 <div class="card">
                     <div class="card-image waves-effect waves-block waves-light">
                       <img class="activator" src="app/img/Embeddrones.png">
                     </div>
                     <div class="card-content">
                       <span class="card-title activator grey-text text-darken-4">Embeddrones<i class="material-icons right">more_vert</i></span>
                       <p> Here is some more information about this product that is only revealed once clicked on. </p>
                       <p><a ui-sref="Embeddrones">More</a></p>
                     </div>
                     <div class="card-reveal">
                       <span class="card-title grey-text text-darken-4">Embeddrones<i class="material-icons right">close</i></span>
                       <p>Here is some more information about this product that is only revealed once clicked on.</p>
                     </div>
                 </div>
             </div>
           <!--branch 1 end-->
           <!--branch 2 start-->
             <div class="item">
                 <div class="card">
                     <div class="card-image waves-effect waves-block waves-light">
                       <img class="activator" src="app/img/FabFacturers.png">
                     </div>
                     <div class="card-content">
                       <span class="card-title activator grey-text text-darken-4">FabFacturers<i class="material-icons right">more_vert</i></span>
                       <p>Here is some more information about this product that is only revealed once clicked on.</p>
                       <p><a ui-sref="FabFacturers">More</a></p>
                     </div>
                     <div class="card-reveal">
                       <span class="card-title grey-text text-darken-4">FabFacturers<i class="material-icons right">close</i></span>
                       <p>Here is some more information about this product that is only revealed once clicked on.</p>
                     </div>
                 </div>
             </div>
           <!--branch 2 end-->
           <!--branch 3 start-->
             <div class="item">
                 <div class="card">
                     <div class="card-image waves-effect waves-block waves-light">
                       <img class="activator" src="app/img/Keycoders.png">
                     </div>
                     <div class="card-content">
                       <span class="card-title activator grey-text text-darken-4">Keycoders<i class="material-icons right">more_vert</i></span>
                       <p>Here is some more information about this product that is only revealed once clicked on.</p>
                       <p><a ui-sref="Keycoders">More</a></p>
                     </div>
                     <div class="card-reveal">
                       <span class="card-title grey-text text-darken-4">Keycoders<i class="material-icons right">close</i></span>
                       <p>Here is some more information about this product that is only revealed once clicked on.</p>
                     </div>
                 </div>
             </div>
           <!--branch 3 end-->
           <!--branch 4 start-->
             <div class="item">
                 <div class="card">
                     <div class="card-image waves-effect waves-block waves-light">
                       <img class="activator" src="app/img/Machinists.png">
                     </div>
                     <div class="card-content">
                       <span class="card-title activator grey-text text-darken-4">Machinists<i class="material-icons right">more_vert</i></span>
                       <p>Here is some more information about this product that is only revealed once clicked on.</p>
                       <p><a ui-sref="Machinists">This is a link</a></p>
                     </div>
                     <div class="card-reveal">
                       <span class="card-title grey-text text-darken-4">Machinists<i class="material-icons right">close</i></span>
                       <p>Here is some more information about this product that is only revealed once clicked on.</p>
                     </div>
                 </div>
             </div>
           <!--branch 4 end-->
           <!--branch 5 start-->
             <div class="item">
                 <div class="card">
                     <div class="card-image waves-effect waves-block waves-light">
                       <img class="activator" src="app/img/Rezonizers.png">
                     </div>
                     <div class="card-content">
                       <span class="card-title activator grey-text text-darken-4">Rezonizers<i class="material-icons right">more_vert</i></span>
                       <p>Here is some more information about this product that is only revealed once clicked on.</p>
                       <p><a ui-sref="Rezonizers">More</a></p>
                     </div>
                     <div class="card-reveal">
                       <span class="card-title grey-text text-darken-4">Rezonizers<i class="material-icons right">close</i></span>
                       <p>Here is some more information about this product that is only revealed once clicked on.</p>
                     </div>
                 </div>
             </div>
           <!--branch 5 end-->
            <!--branch 6 start-->
             <div class="item">
                 <div class="card">
                     <div class="card-image waves-effect waves-block waves-light">
                       <img class="activator" src="app/img/SkyScrapers.png">
                     </div>
                     <div class="card-content">
                       <span class="card-title activator grey-text text-darken-4">Skyscrapers<i class="material-icons right">more_vert</i></span>
                       <p>Here is some more information about this product that is only revealed once clicked on.</p>
                       <p><a ui-sref="SkyScrapers">More</a></p>
                     </div>
                     <div class="card-reveal">
                       <span class="card-title grey-text text-darken-4">Skyscrapers<i class="material-icons right">close</i></span>
                       <p>Here is some more information about this product that is only revealed once clicked on.</p>
                     </div>
                 </div>
             </div>
           <!--branch 6 end-->
           <!--branch 7 start-->
             <div class="item">
                 <div class="card">
                     <div class="card-image waves-effect waves-block waves-light">
                       <img class="activator" src="app/img/SkyScrapers.png">
                     </div>
                     <div class="card-content">
                       <span class="card-title activator grey-text text-darken-4">Special<i class="material-icons right">more_vert</i></span>
                       <p>Here is some more information about this product that is only revealed once clicked on.</p>
                       <p><a ui-sref="Special">More</a></p>
                     </div>
                     <div class="card-reveal">
                       <span class="card-title grey-text text-darken-4">Special<i class="material-icons right">close</i></span>
                       <p>Here is some more information about this product that is only revealed once clicked on.</p>
                     </div>
                 </div>
             </div>
           <!--branch 7 end-->
           </div>
         </div>
       </div>
     </div>

 </div>
<script>
$(document).ready(function() {

  $("#owl-demo").owlCarousel({
    navigation:true,
    afterInit : function(elem){
      var that = this
      that.owlControls.prependTo(elem)
    }

  });

});
</script>
