<hr>
<div class="deptname">
  <span>Key Coders</span>
</div>
<hr>
<!--popout events-->
    <div id="eventcontainer">
      <ul class="collapsible popout events" data-collapsible="accordion">
        <font>Tech Events:</font>
    <!--events 1-->
    <li class="event1">
      <div class="collapsible-header">Bid to Make</div>
      <div class="collapsible-body">
            This is a event based on web development skills and bidding skills.<br>
            Round1<br>
            A quiz consisting of HTML and CSS based questions,which will test the basi knowledge of participants on said technologies.<br>
            Round2<br>
            A team of two will be formed randomly.This round involve bidding on HTML tags and CSS properties.Participants will be bidding using the points they gained in the round1.<br>
            Round3<br>
            In this round ,the teams wil be using the tags and properties they brought in round 2 and feew common tags to design a attractive web design.<br>
            Team: 2 per team maximum<br>
            EVENT MANAGERS<br>
            Dhvani Katkoria:873955569<br>
            Rohan Makwana:74048495716<br>

        </div>
    </li>
    <!--events 1 close-->
    <!--events 2-->
    <li class="event2">
      <div class="collapsible-header">Code-A-Thon</div>
      <div class="collapsible-body">
            This is a event based on web development skills and bidding skills.<br>
            Round1<br>
            A quiz consisting of HTML and CSS based questions,which will test the basi knowledge of participants on said technologies.<br>
            Round2<br>
            A team of two will be formed randomly.This round involve bidding on HTML tags and CSS properties.Participants will be bidding using the points they gained in the round1.<br>
            Round3<br>
            In this round ,the teams wil be using the tags and properties they brought in round 2 and feew common tags to design a attractive web design.<br>
            Team: 2 per team maximum<br>
            EVENT MANAGERS<br>
            Dhvani Katkoria:873955569<br>
            Rohan Makwana:74048495716<br>
      </div>
    </li>
    <!--events 2 close-->
    <!--events 3-->
    <li class="event3">
      <div class="collapsible-header">Compo-Hunt</div>
      <div class="collapsible-body">
            This is a event based on web development skills and bidding skills.<br>
            Round1<br>
            A quiz consisting of HTML and CSS based questions,which will test the basi knowledge of participants on said technologies.<br>
            Round2<br>
            A team of two will be formed randomly.This round involve bidding on HTML tags and CSS properties.Participants will be bidding using the points they gained in the round1.<br>
            Round3<br>
            In this round ,the teams wil be using the tags and properties they brought in round 2 and feew common tags to design a attractive web design.<br>
            Team: 2 per team maximum<br>
            EVENT MANAGERS<br>
            Dhvani Katkoria:873955569<br>
            Rohan Makwana:74048495716<br>
      </div>
    </li>
    <!--events 3 close-->
    <!--events 4-->
    <li class="event4">
      <div class="collapsible-header">Code-Quiz</div>
      <div class="collapsible-body">
            This is a event based on web development skills and bidding skills.<br>
            Round1<br>
            A quiz consisting of HTML and CSS based questions,which will test the basi knowledge of participants on said technologies.<br>
            Round2<br>
            A team of two will be formed randomly.This round involve bidding on HTML tags and CSS properties.Participants will be bidding using the points they gained in the round1.<br>
            Round3<br>
            In this round ,the teams wil be using the tags and properties they brought in round 2 and feew common tags to design a attractive web design.<br>
            Team: 2 per team maximum<br>
            EVENT MANAGERS<br>
            Dhvani Katkoria:873955569<br>
            Rohan Makwana:74048495716<br>
      </div>
    </li>
    <!--events 4 close-->
    <!--events 5-->
    <li class="event1">
      <div class="collapsible-header"> 5</div>
      <div class="collapsible-body">
            This is a event based on web development skills and bidding skills.<br>
            Round1<br>
            A quiz consisting of HTML and CSS based questions,which will test the basi knowledge of participants on said technologies.<br>
            Round2<br>
            A team of two will be formed randomly.This round involve bidding on HTML tags and CSS properties.Participants will be bidding using the points they gained in the round1.<br>
            Round3<br>
            In this round ,the teams wil be using the tags and properties they brought in round 2 and feew common tags to design a attractive web design.<br>
            Team: 2 per team maximum<br>
            EVENT MANAGERS<br>
            Dhvani Katkoria:873955569<br>
            Rohan Makwana:74048495716<br>
      </div>
    </li>
    <!--events 5 close-->
    <!--events 6-->
    <li class="event2">
      <div class="collapsible-header"> 6</div>
      <div class="collapsible-body">
            This is a event based on web development skills and bidding skills.<br>
            Round1<br>
            A quiz consisting of HTML and CSS based questions,which will test the basi knowledge of participants on said technologies.<br>
            Round2<br>
            A team of two will be formed randomly.This round involve bidding on HTML tags and CSS properties.Participants will be bidding using the points they gained in the round1.<br>
            Round3<br>
            In this round ,the teams wil be using the tags and properties they brought in round 2 and feew common tags to design a attractive web design.<br>
            Team: 2 per team maximum<br>
            EVENT MANAGERS<br>
            Dhvani Katkoria:873955569<br>
            Rohan Makwana:74048495716<br>
      </div>
    </li>
    <!--events 6 close-->
    <font>Non-Tech Events:</font>
    <!--events 7-->
    <li class="event3">
      <div class="collapsible-header"> 7</div>
      <div class="collapsible-body">
            This is a event based on web development skills and bidding skills.<br>
            Round1<br>
            A quiz consisting of HTML and CSS based questions,which will test the basi knowledge of participants on said technologies.<br>
            Round2<br>
            A team of two will be formed randomly.This round involve bidding on HTML tags and CSS properties.Participants will be bidding using the points they gained in the round1.<br>
            Round3<br>
            In this round ,the teams wil be using the tags and properties they brought in round 2 and feew common tags to design a attractive web design.<br>
            Team: 2 per team maximum<br>
            EVENT MANAGERS<br>
            Dhvani Katkoria:873955569<br>
            Rohan Makwana:74048495716<br>
      </div>
    </li>
    <!--events 7 close-->
    <!--events 8-->
    <li class="event4">
      <div class="collapsible-header"> 8</div>
      <div class="collapsible-body">
            This is a event based on web development skills and bidding skills.<br>
            Round1<br>
            A quiz consisting of HTML and CSS based questions,which will test the basi knowledge of participants on said technologies.<br>
            Round2<br>
            A team of two will be formed randomly.This round involve bidding on HTML tags and CSS properties.Participants will be bidding using the points they gained in the round1.<br>
            Round3<br>
            In this round ,the teams wil be using the tags and properties they brought in round 2 and feew common tags to design a attractive web design.<br>
            Team: 2 per team maximum<br>
            EVENT MANAGERS<br>
            Dhvani Katkoria:873955569<br>
            Rohan Makwana:74048495716<br>

      </div>
    </li>
    <!--events 8 close-->
    <!--events 9-->
    <li class="event1">
      <div class="collapsible-header"> 9</div>
      <div class="collapsible-body">
            This is a event based on web development skills and bidding skills.<br>
            Round1<br>
            A quiz consisting of HTML and CSS based questions,which will test the basi knowledge of participants on said technologies.<br>
            Round2<br>
            A team of two will be formed randomly.This round involve bidding on HTML tags and CSS properties.Participants will be bidding using the points they gained in the round1.<br>
            Round3<br>
            In this round ,the teams wil be using the tags and properties they brought in round 2 and feew common tags to design a attractive web design.<br>
            Team: 2 per team maximum<br>
            EVENT MANAGERS<br>
            Dhvani Katkoria:873955569<br>
            Rohan Makwana:74048495716<br>
      </div>
    </li>
    <!--events 9 close-->
  </ul>
</div>
  <!--popout events close-->
  <!-- cards of team members -->

  <!-- cards of team members close -->
  <!--popout script-->
        <script type="text/javascript">

        $(document).ready(function(){
          $('.collapsible').collapsible({
           accordion : false
           });
          });
        </script>
        <!--popout script close-->
