
      <!-- Footer begins ..The footer used is http://materializecss.com/footer.html.. The css properties reside in css/main.css-->

      <footer class="page-footers">
        <div class="container">
          <div class="row">
            <div class="col l4 s12">
              <h5 class="white-text" id="orgtext">:: Organized by ::</h5>
               <a target="_blank" href="www.bvmengineering.ac.in/"><img src="app/img/bvm-social.png" id="bvmpic"></a>
            </div>
            <div class="col l3" id="createudaaanbtn">
                  <a class="btn" ui-sref="Team" style="margin-top:80px;margin-left:5px">Team Udaan</a>
                  <a class="btn" ui-sref="Createudaan" style="margin-top:20px;">Create Udaan</a>
            </div>
            <div class="col l4 offset-l1 s12">
                <div class="card" id="mapcard">
                    <div id="gmap_canvas" style="height:200px;width:280px;"></div>
                    <font color="white" style="font-size:15px;">BVM Engineering college,<br/>Mota Bazaar, Vallabh Vidya Nagar,<br/> Opp Shastri Maidan, Anand, Gujarat 388120
                      <br/>Phone:02692 230 104
                    </font>
                </div>
            </div>
          </div>
        </div>

                <div class="footer-copyright">
                  <div class="container">
                  <center>
                        <a  target="_blank" href="https://www.facebook.com/udaan2014bvm"><img class="social" src="app/img/facebook-xxl.png"></img></a>
                        <a target="_blank"  href="https://www.instagram.com/udaan2016/"><img class="social" src="app/img/instagram-xxl.png"></img></a>
                        <a  target="_blank" href="mailto:udaan16developers@gmail.com"><img class="social" src="app/img/email-xxl.png"></img></a>
                        <a target="_blank"  href="https://github.com/Team-Udaan"><img class="social" src="app/img/github-xxl.png"></img></a>
                        <a target="_blank" href="https://www.youtube.com/channel/UCnqRgS6O0MGF8sTYb_fHjWA"><img class="social"src="app/img/youtube-xxl.png"></img></a>
                  </center>
                  </div>
                  <div class="container">
                  <div id="copyright"><center>© 2016 Copyright Text</center></div>
                  </div>
                </div>
              </footer>

              <!-- Footer Ends -->
