
      <!-- Navbar begins.. The navbar used is : "http://materializecss.com/navbar.html" .. The CSS properties reside in css/main.css-->
       <nav>
          <div class="nav-wrapper">
            <a href="#" class="brand-logo center"><img src="app/img/udaanlogo.png" id="udaanlogo"></a>
             <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="#login" class="modal-trigger">Login</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
              <li><a href="#login" class="modal-trigger">Login</a></li>
            </ul>
          </div>
      </nav>
      <!-- Navbar Ends -->
