/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
        @font-face {
              font-family: udaan;
              src: url('../font/TT0406M_0.TTF')format('truetype');
          }
          *{
            font-family: udaan;
          }

        body
         {
           font-family:udaan;
         }

        .nav-wrapper{
          background-color: #9E9E9E;
          //color: #212121;
        }
        #gmap_canvas img{max-width:none!important;background:none!important}

        #mapcard{
            width: 330px;
            padding-left: 15px;
            padding-top: 10px;
            height: 310px;
            background-color: #616161;
        }

        #teambutton .btn {
          margin-left:  20px;
          background-color: #FF5722;
        }

        #logininf{
            font-size: 30px;
            text-align: center;
        }

        #userpaswd{
            font-size:30px;
        }

        #udaanlogo{
            height: 45px;
        }

        #copyright{
            float: top;
        }

        .social{
            width: 32px;
            height: 32px;

        }

        #createudaaanbtn .btn{
            margin-top: 170px;
            background-color: #FF5722;
        }

        #bvmpic{
            width:200px;

        }


       footer.page-footer .footer-copyright{
             height: 90px;
        }


        footer.page-footers .footer-copyright{
            background-color: #616161;
            z-index: 10;
            color: white;
        }

        footer.page-footers{
            margin-top: 20px;
            padding-top: 20px;
            background-color: #9E9E9E;
        }

        #login {
            width: 300px;
          //  height: 150px;
        }

        #recnumfield{
                text-align: center;
            }
        #paswdfield{
                text-align: center;
            }

        #submitbtn {


        }

        #submitbtn .btn{

              background-color: #FF5722;
        }

        .header1
        {
          height: 350px;
        }
        .header1 img{
          margin-top: 15px;
        }

        #owl-demo .item{
          margin: 3px;
        }
        #owl-demo .item img{
          display: block;
          width: 100%;
          height: auto;
        }

      .owl-theme .owl-controls .owl-buttons div{
          color: #FFF;
          display: inline-block;
          zoom: 1;
          *display: inline;/*IE7 life-saver */
          margin: 5px;
          padding: 3px 10px;
          font-size: 12px;
          -webkit-border-radius: 30px;
          -moz-border-radius: 30px;
          border-radius: 30px;
          background: #869791;
          filter: Alpha(Opacity=50);/*IE7 fix*/
          opacity: 0.5;
          text-align: center;
      }

      .owl-buttons{
          float: right;

      }
      body{
    background-color: #212121;
    //background:url(../img/background.jpg) no-repeat center center fixed;
    /*used image from google image
    url-"http://cdn.pcwallart.com/images/dark-wallpaper-2.jpg"*/
    background-size: cover;
}

/*dept name at top*/
.deptname{
  color:#ff5722;
  font:70px  'Raleway',Arial;
  letter-spacing:20px;
  text-align:center;
  top:40%;
  transition:all 1s;
  width:100%;
}
.deptname:hover{
 letter-spacing:0px;
  background:#616161;
  color: #fff;
}
/*dept name close*/
.collapsible-body{
    color:white;
    text-align: left;
}

/*events list*/
.events{
    text-align: center;
    opacity: 0.9;
}
.collapsible-body{
    color:white;
    text-align: left;
}
.event1{
    background-color: rgba(0,51,102,0.6);
}
.event2{
     background-color:rgba(255,153,0,0.6);
}
.event3{
     background-color:rgba(0,204,102,0.6);
}
.event4{
     background-color:rgba(255,51,0,0.6);
}

#eventcontainer{
    width: 75%;
    margin: auto;
}
font{
    font-size: 30px;
    color: white;

}
/*event list close

-----------------------------------------------------

id-card cards*/

.grid {
    position: relative;
    margin:auto;
    width: 315px;
    text-align: right;
    float: left;
}
.grid1 {
    position: relative;
    margin:auto;
    width: 50%;
    text-align: right;
    float: none;
}

.gridimg{
    width: 250px;
}

.idcard{
    font-size: 20px;
}

figure.effect-marley h2{
    position: absolute;
    right: 40px;
    padding: 10px 10px 10px 10px;
}

figure.effect-marley h2 {
    top: 0px;
    -webkit-transition: -webkit-transform 0.35s;
    -moz-transition: -moz-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,20px,0);
    -moz-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
}

figure.effect-marley:hover h2 {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.effect-marley h2::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 4px;
    background: #fff;
    content: '';
    -webkit-transform: translate3d(0,40px,0);
    -moz-transform: translate3d(0,40px,0);
    transform: translate3d(0,40px,0);
}

figure.effect-marley h2::after{
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    -moz-transition: opacity 0.35s, -moz-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-marley:hover h2::after{
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

/*id-card cards close*/

/*Carousel properties begin*/



.imgcard1{
    margin-left: 30%;
    height: 350px;
    width: 300px;
    background-color: #212121;
}

.imgcard2{
    margin-left: 38%;
    height: 250px;
    width: 200px;
    background-color: #212121;
}

#ourteam1{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 25px;
    color: #fff;
}

.item{
    margin-left:5%;
    margin-right: 5%;
}

.caroimg{
    width: 90%;
    height: 90%;
    margin-left: 5%;
    margin-top: 5%;
}

.caroimg:hover{
    width: 100%;
    height: 100%;
    margin-left: 0%;
    margin-top: 0%;
    -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
          transition: all .5s ease;
}

.owl-pagination{
    display: none;
}

#seccaro{
    height: 300px;
}

/*Carousel properties End*/

iframe{
  width: 50%;
  height: 100%;
}







/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 480px) {
    /* Style adjustments for viewports that meet the condition */
    #orgtext{
        font-size: 20px;
        text-align: center;
        margin-top: 0px;
    }
    #bvmpic{
        width: 130px;
        margin-left: 30%;
    }
    #teambutton{
        margin-left: 25%;
        margin-top: 0px;
    }
    #createudaaanbtn{
        margin-top: 30px;
        margin-left: 20%;
        margin-bottom: 28px;
    }
    #logininf{
        text-align: center;
        font-size: 25px;
    }
    #recnumfield{
        text-align: center;
    }
    #paswdfield{
        text-align: center;
    }
    #submitbtn{
        margin-left: 29%;
    }
    .side-nav{
        background-color: #616161;
    }
    .side-nav a{
        color: #fff;
    }
    /*Carousel's properties begin*/

    .imgcard1{
        margin-left: 12px;
    }

    .imgcard2{
        margin-left: 65px;
    }

    /*Carousel's properties end*/
    iframe{
      width:50%;
      height:100%;
    }

}
/*phone*/
@media only screen and (max-width: 480px) {
    /* Style adjustments for viewports that meet the condition */
    .grid{
        width:90%;
        float: none;
        margin: auto;
    }
    .grid1{
        float: none;
        width:100%;
        margin: auto;
    }
    .deptname{
        font-size: 85px;
    }
}
/*tablet*/
@media only screen and (max-width: 1040px) and (min-width: 480px) {
    /* Style adjustments for viewports that meet the condition */
    .grid{
        width:50%;
        margin: auto;
    }
    .grid1{
        float: none;
        width:100%;
        margin: auto;
    }
}



@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
